@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
}

body {
    background-color: #ffe5ec;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    color: #723d46;
}

/*header*/

#menu {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FB6F92;
    color: #FFE5EC;
    position: sticky;
    border-radius: 15px;
    box-sizing: border-box;
    top: 0;
}

#headings {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    width:100%;
}

#headings li {
    flex-grow: 1;
    text-align: center;
    padding: 0 8px;
}

/*main divs for separating posts and extras*/

#divMainContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#divPosts {
    display: inline-block;
    flex-grow: 1;
    background-color: #FFB3C6;
    margin: 10px;
    border-radius: 25px;
    width: 575px;
}

#divNewPost, #divTimeline {
    background-color: #FFC2D1;
    margin: 20px;
    padding: 15px;
    border-radius: 25px;
}

#divWeather, #divMemories, #divMusic {
    flex-grow: 1;
    background-color: #FFC2D1;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    min-width: 300px;
}

#anyNews {
    color: #FF8FAB;
    margin: 20px;
}

#divNewPost {
    width: 90%;
}

#textNewPost {
    font-family: "Quicksand";
    outline: none;
    background-color: #FFE5EC;
    color: #723d46;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    resize: none;
    width: 95%;
    height: 80px;
}

#textNewPost::placeholder{
    color: #FFC2D1;
}

#btnNewPost {
    font-family: "Quicksand";
    background-color: #FB6F92;
    color: #ffe5ec;
    border: 1px #ffe5ec;
    border-radius: 7px;
    margin: 7px;
    padding: 7px;
}

#btnNewPost:active {
    position: relative;
    top: 1.5px;
}

#divTimeline {
    width: 90%;
}

.divPost {
    width: 93%;
    display: flex;
    background-color: #FFE5EC;
    border-radius: 20px;
    padding:15px;
    margin: 15px 0;
}

.divPostText {
    width: 90%;
    float: right;
    
}

.divPost img {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin: 0 10px 0 0;
}

.postUsername {
    color: #FB6F92;
    top: 0px;
    right: 0px;
    margin: 0 0 0 2px;
    padding: 2px;
}

.divPostContent {
    background-color: #FFB3C6;
    width: 95%;
    margin: 2px 2px;
    padding: 2px 10px;
    border-radius: 10px;
    height: auto;
}

.divPostContent p {
    font-size: 17px;
}

.divPostAwoos {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    font-size: 19px;
}

.divPostAwoos button {
    background: none;
    width: 50px;
    border: none;
    padding: 0;
}

.divPostAwoos button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.divPostAwoos img {
    width: 80%;
    height: 70%;
}

